{% extends "base.html" %}
{% block title %}Member Create{% endblock title %}
{% block content %}

<main class="container">
  <!-- main article -->
    <div class="row g-5">
      <div class="col-md-8">
      <article class="blog-post">
        <h2 class="display-5 link-body-emphasis mb-1">{{article.title}}</h2>
        <p class="blog-post-meta">{{article.tanggal}}<a href="#">Eric Jamal</a></p><p>Total Views: {{article.total_views}}| <button class="btn btn-sm btn-info" id="btnLike" data-postid="{{article.id}}"> {{article.like.count}} suka</button></p>
        <img src="{{ article.image.url }}" alt="{{ article.title }}" style="width: 100%;height: 100%;object-fit: contain;">
        
          <p>{{article.deskripsi|safe}}</p>
          
        <!-- form for comment -->
          {% if user.is_authenticated %}
    <form method="post" action="{% url 'tambah_komentar' article.slug %}">
      {% csrf_token %}
      <div class="mb-3">
      <label for="isi_komentar" class="form-label">Tambah Komentar:</label><br>
      <textarea name="isi_komentar" rows="4" cols="50" class="form-control"></textarea><br>
    </div>
      <input type="submit" value="Submit" class="btn btn-outline-dark">
    </form>
  {% else %}
    <p>Hanya pengguna yang login yang dapat memberikan komentar. Silakan <a href="{% url 'login.index' %}">login</a>.</p>
  {% endif %}

  <h2>Komentar</h2>
  {% for comment in komentar %}
  
    <p>{{ comment.pengguna.username }} - {{ comment.waktu_komentar }}<br>
    {{ comment.isi_komentar }}</p>
    
    {% if user.is_authenticated %}
    <button id="displayButton">Display</button>
    <button id="hideButton" style="display: none;">Hide</button>
    <div id="contentToHide"> 
      <!-- Form for replying to the comment -->
      <form id="dropdownForm" method="post" action="{% url 'tambah_komentar.chained' article.slug comment.id %}" >
        {% csrf_token %}
        <label for="isi_komentar" class="form-label">Reply:</label><br>
        <textarea name="isi_komentar" rows="2" cols="30" class="form-control"></textarea><br>
        <input type="submit" value="Reply">
      </form>
      {% else %}
      <p>Hanya pengguna yang login yang dapat memberikan komentar atau Membalas komentar. Silakan <a href="{% url 'login.index' %}">login</a>.</p>
      </div>
      {% endif %}

    </div>
  
  
    <!-- Display replies to the comment -->
    {% for reply in comment.replies.all %}
      <p style="margin-left: 20px;">{{ reply.pengguna.username }} - {{ reply.waktu_komentar }}<br>
      {{ reply.isi_komentar }}</p>
    {% endfor %}
  {% endfor %}
      </article>
    </div>
    <div class="col-md-4">
      <div class="position-sticky" style="top: 2rem;">
        <div class="p-4 mb-3 bg-body-tertiary rounded">
          <h4 class="fst-italic">About</h4>
          <p class="mb-0">Customize this section to tell your visitors a little bit about your publication, writers, content, or something else entirely. Totally up to you.</p>
        </div>
          <div>
            <h4 class="fst-italic">kategori</h4>
            {% for c in cat  %}
            <a href=""><span class="badge text-bg-info">{{c.nama_category}}</span></a>
            {% endfor %}
          </div>
        <div>
          <h4 class="fst-italic">Recent posts</h4>
          <ul class="list-unstyled">
              {% for i in news %}
              <li>
                <a class="d-flex flex-column flex-lg-row gap-3 align-items-start align-items-lg-center py-3 link-body-emphasis text-decoration-none border-top" href="#">
                    <img src="{{i.image.url}}" alt="Uploaded Image" width="100" height="100">
                  <div class="col-lg-8">
                    <h6 class="mb-0">{{ i.title }}</h6>
                    <small class="text-body-secondary">{{ i.tanggal }}</small>
                  </div>
                </a>
              </li>
              
              {%endfor%}

          </ul>
        </div>

        <div class="p-4">
          <h4 class="fst-italic">Archives</h4>
          <ol class="list-unstyled mb-0">
            <li><a href="#">March 2021</a></li>
            <li><a href="#">February 2021</a></li>
            <li><a href="#">January 2021</a></li>
            <li><a href="#">December 2020</a></li>
            <li><a href="#">November 2020</a></li>
            <li><a href="#">October 2020</a></li>
            <li><a href="#">September 2020</a></li>
            <li><a href="#">August 2020</a></li>
            <li><a href="#">July 2020</a></li>
            <li><a href="#">June 2020</a></li>
            <li><a href="#">May 2020</a></li>
            <li><a href="#">April 2020</a></li>
          </ol>
        </div>

        <div class="p-4">
          <h4 class="fst-italic">Elsewhere</h4>
          <ol class="list-unstyled">
            <li><a href="#">GitHub</a></li>
            <li><a href="#">Twitter</a></li>
            <li><a href="#">Facebook</a></li>
          </ol>
        </div>
      </div>
    </div>
  </div>
   </div>
  </main>
  <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>

  

  {% endblock content %}


  {% block script %}

<script>
 // JavaScript (jQuery)
 $(document).ready(function() {
  // Ketika button display diklik
  $("#displayButton").click(function() {
      // Sembunyikan button display dan tampilkan button hide
      $(this).hide();
      $("#hideButton").show();
      // Tampilkan konten yang ingin disembunyikan
      $("#contentToHide").show();
  });

  // Ketika button hide diklik
  $("#hideButton").click(function() {
      // Sembunyikan button hide dan tampilkan button display
      $(this).hide();
      $("#displayButton").show();
      // Sembunyikan konten yang ingin disembunyikan
      $("#contentToHide").hide();
  });
});
</script>


<script>
$(document).ready(function () {
  $('#btnLike').click(function(){
    var postId = $(this).data('postid')
    $.ajax({
      type: "GET",
      url: `/berita/likey/${postId}`,
      dataType: "json",
      success: function (response) {
        
          $('#btnLike').text(`${response.newsLikedCount} suka`)
      }
    });

  })

});



</script>



{% endblock script %}