{% extends "base.html" %}
{% block title %}Member Create{% endblock title %}
{% block content %}

<a href="{%url 'member.index'%}" style="margin-top:10px;" class="btn btn-outline-info">BACK</a>
    <h2>Tambah Data</h2>
    <form action="" method="post">
        {% csrf_token %}
        {% for field in form %}
            <div style="margin-bottom: 10px; margin-top:10px;">
                {{field.label_tag}} {{field}}
                <small>{{field.errors}}</small>
            </div>
        {% endfor %}
        <input type="submit" value="Submit" class="btn btn-outline-secondary">
    </form>

{% endblock content %}

